<app-navbar></app-navbar>

<div class="button-container">
  <button class="create-article-button" (click)="onCreateArticle()">Créer un article</button>
  <div class="sort-control" (click)="onSortToggle()">Trier par {{ sortDescending ? '↑' : '↓' }}</div>
</div>



<div class="articles-list">
  <app-article-card 
    *ngFor="let article of articles" 
    [article]="article"
    (click)="openArticle(article.id)"
    class="clickable-card"
  ></app-article-card>
</div>

<div *ngIf="articles.length === 0" class="no-articles">
  <p>Aucun article trouvé. Abonnez-vous à un thème pour en découvrir !</p>
  <button (click)="goToThemes()" class="theme-subscribe-button">
    Voir les thèmes disponibles
  </button>
</div>


