<div class="login-wrapper">
  <div class="header">
    <img src="assets/logo.png" class="logo-desktop" />
  </div>

  <div class="login-container">
    <div class="back" (click)="goBack()">←</div>
    <img src="assets/logo.png" class="logo-mobile" />
    <h2>Se connecter</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
  <div class="field">
    <label>E-mail ou nom d'utilisateur</label>
    <input type="text" formControlName="identifier" />
  </div>

  <div class="field">
    <label>Mot de passe</label>
    <input type="password" formControlName="password" />
  </div>

  <div *ngIf="loginError" class="error-message">{{ loginError }}</div>

  <button type="submit" class="submit-button">Se connecter</button>
</form>

  </div>
</div>
