<div class="container">
  <header class="header">
    <img src="/assets/logo.png" alt="Logo MDD" class="logo" />
  </header>

  <button class="back-button" (click)="goBack()">←</button>

  <h2>Inscription</h2>

  <form (ngSubmit)="register()" #form="ngForm">
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Nom d'utilisateur"
      required
    />
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Adresse e-mail"
      required
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Mot de passe"
      required
    />
    <button type="submit" [disabled]="!form.form.valid">S'inscrire</button>
  </form>
</div>
